<nav class="main-menu navbar navbar-inverse">
    <div class="main-menu-container container-fluid">
        <div class="main-menu-container-header navbar-header">
            <a class="navbar-brand">Studentu registracijas sistema</a>
        </div>
        <ul class="main-menu-container-nav nav navbar-nav">
            <li class="main-menu-container-nav-link">
                <a href="#/main">Galvena</a>
            </li>
            <li class="main-menu-container-nav-link">
                <a>Manage courses</a>
            </li>
        </ul>
        <ul class="main-menu-container-navright nav navbar-nav navbar-right">
            <li>
                <a href="#/auth" class="main-menu-container-navright-login"><span class="glyphicon glyphicon-log-in"></span> Autorizacija</a>
            </li>
        </ul>
    </div>
</nav>

<div class="lectures-table">
    <div class="lectures-table-headings" ng-repeat="heading in $ctrl.headings track by $index">{{heading}}</div>
    <div class="lectures-table-item" ng-repeat="lecture in $ctrl.lectureList track by $index">
        <div class=lectures-table-item-course>{{lecture.course}}</div>
        <div class=lectures-table-item-studentCount>{{lecture.studentCount}}</div>
        <div class=lectures-table-item-registered>{{lecture.registered}}</div>
        <div class=lectures-table-item-button>
            <button type="button" class="regbtn btn btn-success" ng-click="$ctrl.addRegistration(lecture)">Registreties</button>
        </div>
        <div class="lectures-table-item-button">
            <button type="button" class="cancelbtn btn btn-warning" ng-click="$ctrl.cancelAttendance(lecture)">Atteikties</button>
        </div>
    </div>
    
</div>